html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#main {
  flex: 1;
}

#main > .columns {
  min-height: 100%;
}

.sidebar {
  width: 250px;
  background: whitesmoke;
  min-height: 100%;
}

#counter {
  width: 80px;
}

#notification-area {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#notification-area > div {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

#container {
  max-width: 300px;
}

h1 {
  margin-left: 20px;
}

input {
  margin-left: 20px;
  width: 80%;
  min-height: 30px;
}

.card {
  margin: 10px;
  padding: 10px;
  border: solid black;
  border-radius: 10px;
}

.addbtn {
  width: 90%;
  min-height: 30px;
  padding: 10px;
  border-radius:  10px;
  box-sizing: border-box;
}

.cardbtn {
  float: right;
}